{% extends "clubBase.njk.html" %}

{% block metaData %}
        <title>Soccer Fanatics Club of the Bay</title>
{% endblock %}

{% block headerData %}
    <h1 style="font-family:impact; font-size:5em; text-align:center"> New Activity!</h1>
{% endblock %}

{% block main %}
    <h3 style="font-family:impact; font-size:3em; text-align:center"> Enter Activity Info</h3>
    <form id="form" method="get" action="./addActivity">
        <label for="name"> Activity Name: </label>
        <input type= "name" name="name" id="name" required="required">
        <label for="dates"> Dates: </label>
        <input type="text" name="dates" id="dates" required="required">
        <label for="description"> Description: </label>
        <input type="text" name="description" id="description" required="required">
        <button type="submit" id="add_activity"> Add Activity </button>
    </form>
{% endblock %}

