<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block metaData %}
        {% endblock %}
        <link href="club.css" rel="stylesheet">
    </head>
    <header>
        <nav>
            <ul style="list-style-type:none">
                <li><a href="./">Home</a></li>
                <li><a href="./activities">Club Activities</a></li>
                {% if not user.loggedin %}
                <li><a href="./membership">Membership</a></li>
                <li><a href="./login">Login</a></li>
                {% endif %}
                {% if user.loggedin %}
                <li><a href="./addActivityForm">New Activity</a></li>
                {% if user.role == "admin" %}
                <li><a href="./members">Members</a></li>
                {% endif %}
                <li><a href="./logOut">Log Out</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block headerData %}{% endblock %}
    </header>
    <body>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer> © 2021 Carlos Alberto Espana Jr </footer>
    {% block script %}{% endblock %}
    </body>
</html>
