{% extends "clubBase.njk.html" %}

{% block metaData %}
        <title>Soccer Fanatics Club of the Bay</title>
{% endblock %}

{% block headerData %}
    <h1 style="text-align:center; font-family:impact; font-size:5em";>Welcome Bay Area Soccer Fanatics!</h1>
    <p style="text-align:center"><img src="images/SoccerFans.jpg" alt="Soccer fans cheering for their team while confetti falls throughout the stadium.">
 </p>
{% endblock %}

{% block main %}
    <h2 style="font-family:impact"> Why Do People Join This Club?</h2>
       <p> People that join this club are looking for fanatics of the sport &#x26BD with whom they can voice their opinion on whether it be a game, a certain club, a certain player and much more!
       </p>
    <h3 style="font-family:impact">How do we communicate? </h3>
       <p> We communicate using our own discussion boards, zoom meetings or in person meetings &#x1F4BB. In order to use any of these features you will need to make an account first.
       </p>
{% endblock %}

